footer
    background $img('lpa-marca-branca.png') no-repeat center 24px $rosa
    min-height 135px
    +mobile()
        background-position 92% 24px
        background-size 60px auto
    padding 20px 0
    .center
        clearfix()
    .links
    .contato
        float left
        a
            display block
            lato 11
            color #fff
            line-height 1.5
            + a
                margin-top .35em
            &:hover
                color rgba(#000, .4)
        p
            lato 11
            color #fff
            margin .35em 0 0
            a
                display inline-block
    .links
        margin-right 60px
        +below($tablet)
            display none
    .copyright
        float right
        p
            lato 10
            color #fff
            text-align right
            margin 0
            + p
                margin-top 1em
            a
                display block
                &:hover
                    color rgba(#000, .4)
        +mobile()
            float left
            clear left
            margin-top 25px
            p
                text-align left
