header
    width 100%
    height 145px
    padding 14px 0
    border-top 2px solid $rosa
    position relative
    +mobile()
        height 120px
        padding-bottom 0
    .center
        clearfix()
        height 100%
    .logo
        width 81px
        height 100%
        display block
        float left
        background $img('lpa-marca.png') no-repeat center top
        text-indent -9999px
    .social
        float left
        margin-top 26px
        +below(960px)
            float right
        +mobile()
            margin-top 8px
    .lang
        display block
        width 16px
        height 16px
        img
            width 100%
            display block
        float left
        margin-top 26px
        margin-left 24px
        +below(960px)
            position absolute
            margin 0
            top 0
            right 0
        +mobile()
            top 45px
            right 55px
    #nav-desktop
        display block
        float left
        margin-left 100px
        margin-top 26px
        font-size 0
        +below(960px)
            margin-left 40px
        > div
            display inline-block
            margin-right 30px
            position relative
            +below(960px)
                margin-right 20px
            > a
                display inline-block
                lato 13
                color $cinza
                position relative
                padding-bottom 7px
                &:after
                    content ''
                    position absolute
                    display none
                    width 19px
                    height 1px
                    background darken($rosa, 10)
                    bottom 0
                    left 50%
                    margin-left -9px
                &:hover
                &.active
                    color darken($rosa, 10)
                &.active:after
                    display block
            .sub
                display block
                position absolute
                top 100%
                left 50%
                margin-left -70px
                width 140px
                &:after
                    content ''
                    position absolute
                    width 1px
                    height 15px
                    top 0
                    left 50%
                    background darken($rosa, 10)
                a
                    lato 11
                    color $cinza
                    position absolute
                    top 5px
                    &:nth-child(1)
                        right 50%
                        text-align right
                        transform translateX(-8px)
                    &:nth-child(2)
                        left 50%
                        transform translateX(8px)
                    &:hover
                    &.active
                        color darken($rosa, 10)
        +below($mobile)
            display none
    #mobile-toggle
        +above($mobile)
            display none
        display block
        background-color transparent
        border 0
        position absolute
        right 0
        top 40px
        height 28px
        width 28px
        outline 0
        padding 0
        cursor pointer
        .lines
            display block
            width 100%
            height 4px
            background $cinza
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background $cinza
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #nav-mobile
        +above($mobile)
            display none !important
        display none
        position absolute
        top 118px
        left 0
        width 100%
        background $cinza
        float left
        padding 35px 5%
        z-index 2
        > a
            display block
            text-align right
            lato 14
            color #fff
            margin-top 12px
            &:first-child
                margin-top 0
            &.active
                color $rosa
        .sub
            font-size 0
            text-align right
            margin-top 3px
            a
                display inline-block
                lato 12
                color #fff
                &.active
                    color $rosa
                &:last-child
                    border-left 1px solid rgba(#fff, .2)
                    padding-left 8px
                    margin-left 8px

.aviso-cookies
    width 100%
    height 235px
    top 0
    margin 0
    display flex
    flex-direction row
    align-items center
    justify-content space-between
    background-color rgba(102,99,102, 0.9)
    position fixed
    z-index 9
    padding 20px 14%
    +below($tablet)
        height 200px
    +mobile()
        height 235px
        flex-direction column
        align-items center
        justify-content center
        padding 20px 
    .frase-cookies
        width 72%
        opensans(16)
        color #FFF
        margin 0
        +below($tablet)
            width 65%
            font-size 14px
        +mobile()
            font-size 12px
            width 100%
            text-align center
        .link-politica
            text-decoration underline
            &:hover
            &:focus
                font-weight bold
    .aceitar-cookies
        width 240px
        height 60px
        opensans(16)
        color #FFF
        font-weight 600
        background-color $rosa 
        border none
        border-radius 0
        cursor pointer
        outline none
        transition .3s ease
        +below($tablet)
            width 200px
            font-size 14px
        +mobile()
            font-size 12px
            width 100%
            text-align center
            margin-top 20px
        &:hover
        &:focus
            background-color #FFF
            color $rosa