.blog
    border-top 2px solid $cinza
    padding 70px 0
    +tablet()
        padding 50px 0
    +mobile()
        padding 30px 0
    .blog-post
        display block
        + .blog-post
            margin-top 70px
            +tablet()
                margin-top 50px
            +mobile()
                margin-top 50px
        clearfix()
        .texto
            width 41.667%
            +tablet()
                width 52%
            +mobile()
                width 100%
            float left
            border-top 3px solid $rosa
            padding-top 30px
            transition color .3s
            +mobile()
                padding-top 20px
            color $cinza
            h3
                lato 14 bold
                margin 0 0 35px
                +mobile()
                    margin-bottom 25px
            p
                opensans 12
                margin 0
                + p
                    margin-top 1em
        .imagem
            width 51.667%
            float right
            position relative
            +tablet()
                width 40%
            +mobile()
                width 100%
                margin-top 20px
            img
                display block
                width 100%
            &:after
                content ''
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background rgba($rosa, .65)
                opacity 0
                transition opacity .3s
        &:hover
            .texto
                color $rosa
            .imagem:after
                opacity 1
    .pagination
        margin-top 80px
        +tablet()
            margin-top 60px
        +mobile()
            margin-top 40px
        border-top 1px solid rgba($rosa, .3)
        padding-top 25px
        text-align center
        list-style-type none
        font-size 0
        li
            display inline-block
            margin 0 5px
            &.disabled
                display none
            &.active span
                color darken($rosa, 5)
                font-weight 700
                font-size 16px
                border 1px solid rgba($rosa, .3)
                padding 1px 8px 3px
            a
            span
                lato 13
                color $cinza
                &[rel=next]
                &[rel=prev]
                    font-size 16px

.blog-show
    max-width 810px
    margin 0 auto
    h1
        lato 24 bold
        color darken($rosa, 10)
        margin 0 0 35px
        +mobile()
            font-size 20px
            margin-bottom 25px
    img
        max-width 100%
        height auto
        display block
        margin 0 0 15px
    .texto
        color $cinza
        img
            max-width 100%
            height auto
            display block
        p
            opensans 13
            margin 0
            + p
                margin-top 1em
    .facebook
        border-top 1px solid lighten($rosa, 15)
        margin-top 55px
        padding-top 25px
