.contato-page
    border-top 2px solid $cinza
    padding 70px 0 100px
    +tablet()
        padding 50px 0 80px
    +mobile()
        padding 30px 0 40px
    .center
        clearfix()
    .informacoes
        width 36%
        float left
        color $cinza
        +tablet()
            width 50%
        +mobile()
            width 100%
        h3
            lato 12 bold
            margin 40px 0
            +mobile()
                margin 25px 0
            &:first-child
                margin-top 0
        p
            opensans 12
            margin 0
            + p
                margin-top 1em
        form
            input
            textarea
                display block
                width 100%
                margin-bottom 20px
                border 1px solid $rosa
                padding 8px
                opensans 10
                color $cinza
                outline 0
                resize none
            textarea
                height 175px
                margin-bottom 10px
            .botao
                float right
                position relative
                &:after
                    content ''
                    position absolute
                    top 50%
                    margin-top -4px
                    right 0
                    width 0
                    height 0
                    border-style solid
                    border-width 4px 0 4px 8px
                    border-color transparent transparent transparent $cinza
                input[type=submit]
                    width auto
                    margin 0
                    cursor pointer
                    display inline-block
                    background transparent
                    border 0
                    opensans 12
                    padding 0
                    padding-right 16px
                    position relative
                    &:hover
                        text-decoration underline
            #form-contato-response
                display none
                lato 11
                color darken($rosa, 5)
                margin-top 15px
    .mapa
        width 58.75%
        float right
        +tablet()
            width 45%
        +mobile()
            width 100%
            margin-top 30px
        iframe
            width 100%
            height 540px
            display block
            +mobile()
                height 280px

.ouvidoria
    border-top 2px solid $cinza
    padding 70px 0 100px
    +tablet()
        padding 50px 0 80px
    +mobile()
        padding 30px 0 40px
    .center
        clearfix()
    .informacoes
        width 58.75%
        float left
        color $cinza
        +tablet()
            width 45%
        +mobile()
            width 100%
            margin-bottom 30px
        h3
            lato 12 bold
            margin 40px 0
            +mobile()
                margin 25px 0
            &:first-child
                margin-top 0
        p
            opensans 12
            margin 0
            + p
                margin-top 1em
    form
        width 36%
        float right
        +tablet()
            width 50%
        +mobile()
            width 100%
        input
        textarea
            display block
            width 100%
            margin-bottom 20px
            border 1px solid $rosa
            padding 8px
            opensans 10
            color $cinza
            outline 0
            resize none
        textarea
            height 175px
            margin-bottom 10px
        .botao
            float right
            position relative
            &:after
                content ''
                position absolute
                top 50%
                margin-top -4px
                right 0
                width 0
                height 0
                border-style solid
                border-width 4px 0 4px 8px
                border-color transparent transparent transparent $cinza
            input[type=submit]
                width auto
                margin 0
                cursor pointer
                display inline-block
                background transparent
                border 0
                opensans 12
                padding 0
                padding-right 16px
                position relative
                &:hover
                    text-decoration underline
        #form-ouvidoria-response
            display none
            lato 11
            color darken($rosa, 5)
            margin-top 15px

#rdstation-bricks-embeddable-form-bricks-component-_fjC2Wg4UkBmFRAuBg1_Gg .bricks--section > div
    top -40px