.ebook-page
    width 100%
    height 100%
    .ebook-center
        width 1200px
        height calc('100% - 145px')
        margin 0 auto
        display flex
        flex-direction row
        margin-bottom 50px
        +tablet()
            width 90%
        +mobile()
            width 90%
            flex-direction column
        .logo-ebook
            width 20%
            padding 65px 0 0 10px
            +mobile()
                width 100%
        .informacoes-ebook
            width 45%
            padding 60px 20px 20px 20px
            +mobile()
                width 100%
                padding 60px 0 0 0
            .boas-vindas
                opensanscond 48
                font-weight light
                text-align justify
                color #2E2E2E
                margin 0
            .institucional-pt1
                opensanscond 18
                font-weight light
                text-align justify
                color #2E2E2E
                margin-top 0
            .institucional-pt2
                opensanscond 18
                font-weight light
                text-align justify
                color #2E2E2E
            .ebook-dados
                display flex
                flex-direction row
                align-items start
                margin 20px 0
                .descricao
                    opensanscond 18
                    margin 0 0 0 20px
                    text-align justify
                    color #2E2E2E
        .form-ebook
            width 35%
            padding 95px 0 20px 35px
            +mobile()
                width 100%
                padding 50px 0 0 0
            .institucional-pt3
                opensanscond 22
                text-align center
                color #2E2E2E
            .msg-final
                opensanscond 22
                text-align center
                margin 25px 0 50px 0
                color #2E2E2E
            .btn-download
                display flex
                flex-direction row
                align-items center
                padding 0
                margin 10px 0
                width 100%
                border none
                background transparent
                &:hover
                &:focus
                    background #8ED4D0
                    cursor pointer
                    outline 0
                .btn-dados
                    border 1px solid #2E2E2E
                    width 80%
                    height 70px
                    margin 0
                    padding 0 15px
                    display flex
                    flex-direction column
                    align-items start
                    justify-content center
                    .prefixo
                        opensanscond 12
                        font-weight bold
                        text-transform uppercase
                        margin 0
                        text-align left 
                        color #2E2E2E
                    .titulo
                        opensanscond 18
                        text-transform uppercase
                        margin 0
                        text-align left 
                        color #2E2E2E
                .btn-icon
                    border 1px solid #2E2E2E
                    width 20%
                    height 70px
                    margin 0
                    display flex
                    flex-direction column
                    align-items center
                    justify-content center
                    .download
                        opensanscond 10
                        text-transform uppercase
                        margin 0
                        color #2E2E2E
            .ebook-cadastro
                input[type=text]
                input[type=email]
                    width 100%
                    height 40px
                    padding-left 10px
                    outline 0
                    border 1px solid #2E2E2E
                    background transparent
                    opensanscond 22
                    color #2E2E2E
                    +placeholder()
                        opensanscond 22
                        color #2E2E2E
                .form-download
                    width 100%
                    display flex
                    flex-direction row
                    align-items center
                    border none
                    background transparent
                    padding 0
                    margin 5px 0
                    &:hover
                    &:focus
                        outline 0
                        .titulo
                            background #DAC6CD
                            cursor pointer
                            outline 0
                        .icon
                            background #BF9CA8
                            cursor pointer
                            outline 0
                    .titulo
                        border 1px solid #2E2E2E
                        width 85%
                        height 50px
                        margin 0
                        opensanscond 16
                        font-weight bold
                        text-transform uppercase
                        display flex
                        align-items center
                        justify-content center
                    .icon
                        border 1px solid #2E2E2E
                        width 15%
                        height 50px
                        display flex
                        align-items center
                        justify-content center
            .msg-download
                width 100%
                height 120px
                display flex
                flex-direction column
                align-items center
                justify-content center
                border 1px solid #2E2E2E
                p
                    opensanscond 22
                    text-transform uppercase
                    margin 0
                a
                    opensanscond 10
                    font-weight bold
                    text-transform uppercase
                    margin-top 10px
        .bola-verde
            width 650px
            height 650px
            background-color #dcf1f0
            border-radius 50%
            top -170px
            right calc('(100% - 1200px)/2 - 160px')
            position absolute
            z-index -1
            +tablet()
                top -104px
                right calc('(100% - 1200px)/2 - 120px')
            +mobile()
                width 450px
                height 450px
                top auto
                bottom -580px
                left 0
                right auto
    .ebook-footer
        width 100%
        height 145px
        background-color #BF9CA8
        display flex
        flex-direction column
        align-items center
        justify-content space-evenly
        .visite-site
            background transparent
            height 60px
            width 450px
            border 1px solid #FFF
            opensanscond 16
            color #FFF
            font-weight bold
            display flex
            align-items center
            justify-content center
            +mobile()
                width 90%
        .direitos
            opensanscond 10
            color #2E2E2E
            font-weight 600


