.equipe
    background $cinzaBg
    border-top 2px solid $cinza
    padding 70px 0 100px
    +tablet()
        padding 50px 0 80px
    +mobile()
        padding 30px 0 40px
    h2
        lato 24 light
        color $cinza
        margin 0 0 2em
        padding-top 1.33em
        max-width 500px
        border-top 3px solid $rosa
        +mobile()
            font-size 20px
            margin-bottom 1.5em
            padding-top 1em
    .equipe-thumbs
        max-width 1060px
        margin 0 auto
        display flex
        flex-wrap wrap
        font-size 0
        a
            display inline-block
            vertical-align top
            width 23.5%
            margin-right 2%
            &:nth-child(4n)
                margin-right 0
            +tablet()
                width 32%
                &:nth-child(4n)
                    margin-right 2%
                &:nth-child(3n)
                    margin-right 0
            +mobile()
                width 49%
                &:nth-child(4n)
                    margin-right 2%
                &:nth-child(2n)
                    margin-right 0
            margin-bottom 2%
            background #fff
            border 1px solid darken($cinzaBg, 5)
            &:hover .imagem span
                transform translateY(0)
            .imagem
                position relative
                overflow hidden
                img
                    width 100%
                    display block
                span
                    display block
                    position absolute
                    bottom 0
                    left 0
                    width 100%
                    background rgba(#9D818A, .8)
                    lato 14 bold
                    color #fff
                    text-align center
                    padding 6px
                    transition transform .3s
                    +above($tablet)
                        transform translateY(100%)
            .dados
                text-align center
                color $cinza
                padding 20px
                h5
                    lato 14 bold
                    margin 0 0 3px
                p
                    lato 10
                    margin 0
                    color darken($rosa, 10)
