.escritorio
    .banner
        width 100%
        height 600px
        border-bottom 4px solid $cinza
        background-size cover
        background-position center
        overflow hidden
        +tablet()
            height 450px
        +mobile()
            height 300px
        .center
            position relative
            height 100%
            clearfix()
            .box
                width 50%
                height 100%
                float right
                background rgba(#fff, .8)
                box-shadow 0 0 40px rgba(#000, .5)
                padding 135px 50px 0
                color $cinza
                +tablet()
                    padding-top 70px
                +mobile()
                    width 100%
                    padding 25px 25px 0
                h3
                    lato 22 light
                    margin 0 0 1em
                    +mobile()
                        font-size 18px
                p
                    opensans 15
                    +mobile()
                        font-size 14px
                    margin 0
                    + p
                        margin-top .5em
    .textos
        padding 70px 0
        +mobile()
            padding 35px 0
        clearfix()
        .texto
            width 58.333%
            float left
            color $cinza
            h4
                lato 13 bold
                margin 0 0 2em
            p
                opensans 13
                margin 0
                + p
                    margin-top 1em
            +mobile()
                width 100%
        .missao-visao
            width 37.5%
            float right
            background $rosa
            margin-top -30px
            margin-bottom -130px
            color #fff
            padding 50px
            text-align center
            h4
                lato 13 bold
                margin 3em 0 1.5em
                &:first-child
                    margin-top 0
            p
                opensans 13
                margin 0
            +mobile()
                width 100%
                margin-top 30px
                margin-bottom 0
                padding 30px
    .premios
        background $cinza
        padding 70px 0 45px
        color #fff
        h4
            lato 13 bold
            margin 0 0 2em
        p
            opensans 13
            margin 0
            + p
                margin-top .5em
        +mobile()
            padding 30px 0

.expertise
    padding 0 0 50px
    +mobile()
        padding 10px 0 0
    .expertise-div
        clearfix()
        padding 45px 0
        &:first-child
            padding-top 30px
        +tablet()
            padding 35px 0
            &:first-child
                padding-top 20px
        +mobile()
            padding 25px 0
            &:first-child
                padding-top 0px
        .texto
            width 62.5%
            float left
            padding-top 35px
            color $cinza
            h2
                lato 22 light
                margin 0 0 2em
            h3
                lato 14 bold
                margin 0 0 2em
            p
                opensans 12
                margin 0
                + p
                    margin-top 1em
            +tablet()
                padding-top 20px
            +mobile()
                width 100%
                padding-top 0
                h2
                    font-size 20px
                h3
                    font-size 13px
        .imagem
            width 32.5%
            float right
            img
                width 100%
                display block
            +mobile()
                width 100%
                margin-top 20px
                img
                    width auto
                    max-width 100%
        + .expertise-div
            border-top 4px solid $rosa

.clientes
    background $cinzaBg
    padding 70px 0
    color $cinza
    +tablet()
        padding 50px 0
    +mobile()
        padding 30px 0
    h2
        lato 22 light
        margin 60px 0
        text-align center
        &:first-child
            margin-top 0
        +tablet()
            margin 50px 0
        +mobile()
            margin 35px 0 25px
            font-size 20px
    .clientes-imagens
        text-align center
        font-size 0
        img
            display inline-block
            vertical-align middle
            margin 0 10px 15px
            +mobile()
                max-width 100px
                margin 0 5px 10px

.depoimentos
    .grid-sizer
        width 32.0555%
        +mobile()
            width 100%
        +tablet()
            width 48.5%
    .gutter-sizer
        width 1.91667%
        +mobile()
            width 0
        +tablet()
            width 3%
    .depoimento
        width 32.0555%
        margin-bottom 1.91667%
        background #fff
        border 1px solid darken($cinzaBg, 5)
        padding 40px
        text-align center
        color $cinza
        +mobile()
            width 100%
            margin-bottom 3%
            padding 25px
        +tablet()
            width 48.5%
            margin-bottom 3%
        h4
            lato 14 bold
            margin 0
            span
                lato 10
                color darken($rosa, 10)
                display block
                margin-top 3px
        .aspas
            display block
            text-align center
            width 100%
            lato 60
            color darken($rosa, 10)
            line-height 1
            margin 10px 0 0
        p
            opensans 12
            margin 0
