.home
    font-size 0
    padding 0 0 40px
    +tablet()
        padding 0 0 25px
    +mobile()
        padding 0 0 10px
    a
        display inline-block
        vertical-align top
        margin-bottom 30px
        +mobile()
            margin-bottom 20px
        &.thumb-full
            width 100%
            img.desktop
                display block
                +mobile()
                    display none
            img.mobile
                display none
                +mobile()
                    display block
        &.thumb-1
            width calc('25% - 22.5px')
            margin-right 30px
            &:nth-child(4)
            &:nth-child(7)
                margin-right 0
            +mobile()
                width calc('50% - 10px')
                margin-right 20px
                &:nth-child(2)
                &:nth-child(4)
                &:nth-child(7)
                &:nth-child(9)
                    margin-right 0
        &.thumb-2
            width calc('50% - 15px')
            margin-right 30px
            &:nth-child(10)
                margin-right 0
            +mobile()
                width 100%
                margin-right 0
        .imagem
            position relative
            &:after
                content ''
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background rgba($rosa, .65)
                opacity 0
                transition opacity .3s
        img
            width 100%
            display block
        p
            color $cinza
            lato 15
            margin 8px 0 0
            transition color .3s
            +mobile()
                lato 14
            span
                display block
                margin-top 3px
                lato 9 bold
        &:hover
            p
                color darken($rosa, 10)
            .imagem:after
                opacity 1
