.politica-de-privacidade
    width 100%
    height auto
    .center
        position relative
        height 100%
        clearfix()
        .titulo-politica
            lato 24
            color $rosa
            margin 0 0 30px 0
            +tablet()
                font-size 20px
            +mobile()
                font-size 20px
                margin 20px 0 30px 0
        .texto-politica
            opensans 16
            color $cinza
            margin-bottom 60px
            +tablet()
                font-size 14px
            +mobile()
                font-size 14px
