.portfolio
    padding 0 0 55px
    +tablet()
        padding 0 0 40px
    +mobile()
        padding 15px 0 0
    .categorias
        font-size 0
        text-align center
        margin-bottom 35px
        +tablet()
            margin-bottom 30px
        +mobile()
            margin-bottom 20px
            text-align left
        a
            display inline-block
            lato 13
            color $cinza
            position relative
            margin 0 35px
            padding-bottom 7px
            +tablet()
                margin 0 20px
            +mobile()
                display block
                margin 0
                padding-bottom 5px
                lato 12
                + a
                    margin-top 7px
            &:after
                content ''
                position absolute
                display none
                width 18px
                height 1px
                background darken($rosa, 10)
                bottom 0
                left 50%
                margin-left -9px
                +mobile()
                    left 0
                    margin-left 0
            &:hover
            &.active
                color darken($rosa, 10)
            &.active:after
                display block
    .portfolio-thumbs
        clearfix()
        font-size 0
        a
            display inline-block
            vertical-align top
            width calc('25% - 22.5px')
            margin-right 30px
            margin-bottom 30px
            &:nth-child(4n)
                margin-right 0
            +tablet()
                width calc('33.333% - 20px')
                &:nth-child(4n)
                    margin-right 30px
                &:nth-child(3n)
                    margin-right 0
            +mobile()
                width calc('50% - 10px')
                margin-right 20px
                margin-bottom 20px
                &:nth-child(4n)
                    margin-right 20px
                &:nth-child(2n)
                    margin-right 0
            .imagem
                position relative
                &:after
                    content ''
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    background rgba($rosa, .65)
                    opacity 0
                    transition opacity .3s
                img
                    width 100%
                    display block
            p
                color $cinza
                lato 15
                margin 5px 0 0
                transition color .3s
                +mobile()
                    lato 14
                span
                    display block
                    margin-top 3px
                    lato 9 bold
            &:hover
                p
                    color darken($rosa, 10)
                .imagem:after
                    opacity 1
    .portfolio-show
        padding-bottom 50px
        clearfix()
        .abertura
            width 100%
            position relative
            margin-bottom 2.5%
            clearfix()
            .imagem-1
                width 58.75%
                float right
                display block
                +mobile()
                    width 100%
            .informacoes
                position absolute
                left 0
                bottom 50px
                width 38.75%
                border-top 1px solid $rosa
                padding-top 20px
                color $cinza
                +tablet()
                    position relative
                    float left
                    bottom auto
                    left auto
                +mobile()
                    position relative
                    float left
                    bottom auto
                    left auto
                    width 100%
                    margin-bottom 5%
                h2
                    lato 20 light
                    margin 0 0 1em
                p
                    margin 0
                    opensans 12
                    clearfix()
                    span
                        &:first-child
                            width 100px
                            float left
                            text-align right
                            lato 9 bold
                            transform translateY(1px)
                        &:last-child
                            width calc('100% - 110px')
                            float right
                    + p
                        margin-top .333em
        .imagem-2
            width 58.75%
            float left
            margin-right 2.5%
            margin-bottom 2.5%
            +mobile()
                margin-right 0
                width 100%
        .imagem-3
            width 38.75%
            float right
            margin-bottom 2.5%
            +mobile()
                width 100%
        .imagem-4
            width 38.75%
            clear both
            float left
            margin-bottom 2.5%
            +mobile()
                width 100%
        .imagem-5
            width 58.75%
            float right
            margin-bottom 2.5%
            +mobile()
                width 100%
        .imagem-6
            width 100%
            float left
            margin-bottom 2.5%
            +mobile()
                width 100%
        .descricao-diferenciais
        .padroes
            width 100%
            clear both
            float left
            margin-bottom 3%
            +mobile()
                margin-bottom 5.1%
        .descricao
        .padroes
        .conceitos-texto
            color $cinza
            width 58.75%
            float left
            opensans 12
            line-height 1.5
            +tablet()
                width 58.75%
            +mobile()
                width 100%
            clearfix()
        .diferenciais
            width 38.75%
            float right
            color $cinza
            span
                lato 14
                line-height 1.5
                display block
            +tablet()
                float left
                clear left
                margin-top 3%
                width 58.75%
            +mobile()
                width 100%
                float left
                clear left
                margin-top 5.1%
        .conceitos
            width 58.75%
            float left
            margin-right 2.5%
            clear both
            .imagem-7
                width 100%
                display block
            .conceitos-texto
                width 65.95%
                margin-top 5.1%
                margin-bottom 5.1%
                +tablet()
                    width 100%
            +mobile()
                width 100%
                .conceitos-texto
                    width 100%
        .imagem-8
            width 38.75%
            float right
            +mobile()
                width 100%
        .imagem-9
            clear both
            width 38.75%
            float left
            margin-top 2.5%
            +mobile()
                width 100%
        .imagem-10
            width 58.75%
            float right
            margin-top 2.5%
            +mobile()
                width 100%
        .equipe-fornecedores
            width 100%
            float left
            clear both
            margin-top 6.5%
            color $cinza
            h4
                lato 12 bold
                margin 0 0 20px
                +mobile()
                    margin-bottom 15px
            .equipe-lista
                padding-top 20px
                width 38.75%
                float left
                border-top 1px solid $rosa
                +below($tablet)
                    width 100%
                p
                    margin 0
                    opensans 12
                    clearfix()
                    span
                        &:first-child
                            width 145px
                            float left
                            text-align right
                            lato 9 bold
                            transform translateY(1px)
                        &:last-child
                            width calc('100% - 155px')
                            float right
                    + p
                        margin-top .333em
                    +mobile()
                        span
                            &:first-child
                                width 100%
                                display block
                                margin-bottom 2px
                                text-align left
                            &:last-child
                                width 100%
                        + p
                            margin-top .8em
            .fornecedores-lista
                padding-top 20px
                width 58.75%
                float right
                border-top 1px solid $rosa
                +below($tablet)
                    width 100%
                    margin-top 5%
                +mobile()
                    margin-top 8%
                p
                    margin 0
                    opensans 12
                    clearfix()
                    span
                        &:first-child
                            width 145px
                            float left
                            text-align right
                            lato 9 bold
                            transform translateY(1px)
                        &:nth-child(2)
                            width 155px
                            float left
                            margin-left 10px
                        &:last-child
                            width calc('100% - 330px')
                            float right
                            color darken($rosa, 10)
                    + p
                        margin-top .333em
                    +mobile()
                        span
                            &:first-child
                                width 100%
                                display block
                                margin-bottom 2px
                                text-align left
                            &:nth-child(2)
                                width 100%
                                margin-bottom 2px
                                margin-left 0
                            &:last-child
                                width 100%
                        + p
                            margin-top .8em
